<main class="container">
  <section class="section1">
    <img src="../assets/foggy-morning-pine-forest.webp" alt="foggy morning pine forest image" *ngIf="14 > 15">
    <img src="../assets/OIP.jfif" alt="Full moon night sky over forest image" *ngIf="15 > 14">
    <article class="weatherData">
      <div class="location">BR</div>
      <div class="temp">{{14.40 | number: '1.0-0'}} &deg;C</div>
    </article>
  </section>
  <section class="section2">
    <div class="moreInfo">
      <p>More Information</p>
    </div>
    <div class="moreInfoContainer">
      <div class="infoBlock">
        <div class="infoBlockLabel">
          <img src="../assets/cold-thermometer-1.png" alt="Cold weather icon">
          <span>min</span>
        </div>
        <div class="infoBlockValue">
          10&deg;C
        </div>
      </div>
    </div>
  </section>
</main>
<router-outlet></router-outlet>
